{
  "ignore": [
    "node_modules/**"
  ],
  "env": {
    "development": {
      "presets": [
        "es2015"
      ]
    },
    "production": {
      "presets": [
        [
      	  "env",
	      {
	        "modules": false
          }
        ]
      ]
    }
  }
}
